LGTV nodered.json
[
    {
        "id": "98944d80.ad7f6",
        "type": "tab",
        "label": "livingroom tv",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5952a5ab.1669a4",
        "type": "inject",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "push status",
        "payload": "status",
        "payloadType": "str",
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": ".1",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "4f504638.8be4",
                "cef2443b.19c98"
            ]
        ]
    },
    {
        "id": "10953af.d7d37c5",
        "type": "serial request",
        "z": "98944d80.ad7f6",
        "name": "",
        "serial": "cadda10d.b4b95",
        "x": 890,
        "y": 180,
        "wires": [
            [
                "921fd114.2e1e98",
                "cf0cffe2.dd6fe"
            ]
        ]
    },
    {
        "id": "309970f8.0fdfd8",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "add CR",
        "func": "msg.payload = msg.payload + \"\\r\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "10953af.d7d37c5"
            ]
        ]
    },
    {
        "id": "85bf8480.48edd8",
        "type": "mqtt in",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/command/power",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8b5f45d4.47335",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "4f504638.8be4"
            ]
        ]
    },
    {
        "id": "4f504638.8be4",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "tv power",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "ka 01 01",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "off",
                "fromt": "str",
                "to": "ka 01 00",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "status",
                "fromt": "str",
                "to": "ka 01 ff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "99b9043d.7c2e88",
                "1810f629.8abe6a"
            ]
        ]
    },
    {
        "id": "ec00edb4.42f0e",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/power",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "ea4061aa.11842",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "tvpower status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a 01 OK00x",
                "fromt": "str",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "a 01 OK01x",
                "fromt": "str",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "ec00edb4.42f0e"
            ]
        ]
    },
    {
        "id": "99b9043d.7c2e88",
        "type": "delay",
        "z": "98944d80.ad7f6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "309970f8.0fdfd8"
            ]
        ]
    },
    {
        "id": "7cacf591.7f4c8c",
        "type": "mqtt in",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/command/input",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8b5f45d4.47335",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "cef2443b.19c98"
            ]
        ]
    },
    {
        "id": "cef2443b.19c98",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "tv input",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "hdmi4",
                "fromt": "str",
                "to": "xb 01 93",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "hdmi3",
                "fromt": "str",
                "to": "xb 01 92",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "hdmi2",
                "fromt": "str",
                "to": "xb 01 91",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "av1",
                "fromt": "str",
                "to": "xb 01 20",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "av2",
                "fromt": "str",
                "to": "xb 01 21",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "component1",
                "fromt": "str",
                "to": "xb 01 40",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "component2",
                "fromt": "str",
                "to": "xb 01 41",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "vga",
                "fromt": "str",
                "to": "xb 01 60",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "dtv_ant",
                "fromt": "str",
                "to": "xb 01 00",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "status",
                "fromt": "str",
                "to": "xb 01 ff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "99b9043d.7c2e88",
                "1810f629.8abe6a"
            ]
        ]
    },
    {
        "id": "cc93e107.fefcc",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "tv input status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK93x",
                "fromt": "str",
                "to": "hdmi4",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK91x",
                "fromt": "str",
                "to": "hdmi2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK92x",
                "fromt": "str",
                "to": "hdmi3",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK90x",
                "fromt": "str",
                "to": "hdmi1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK60x",
                "fromt": "str",
                "to": "vga",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK00x",
                "fromt": "str",
                "to": "dtv_ant",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK20x",
                "fromt": "str",
                "to": "av1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK21x",
                "fromt": "str",
                "to": "av2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK40x",
                "fromt": "str",
                "to": "component1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "b 01 OK41x",
                "fromt": "str",
                "to": "component2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "f023b70b.63e888",
                "af9408d1.e8af58"
            ]
        ]
    },
    {
        "id": "f023b70b.63e888",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1950,
        "y": 280,
        "wires": []
    },
    {
        "id": "921fd114.2e1e98",
        "type": "switch",
        "z": "98944d80.ad7f6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "a 01",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "b 01",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "f 01",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "e 01",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "c 01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "ea4061aa.11842"
            ],
            [
                "cc93e107.fefcc"
            ],
            [
                "bbc96760.9cc19"
            ],
            [
                "28b21739.fc046"
            ],
            [
                "7a18b550.1fc3fc"
            ]
        ]
    },
    {
        "id": "730cf58e.1cf7ec",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/hdmi1",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1980,
        "y": 320,
        "wires": []
    },
    {
        "id": "af9408d1.e8af58",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "input select",
        "func": "var hdmi1={ payload: \"false\"};\nvar hdmi2={ payload: \"false\"};\nvar hdmi3={ payload: \"false\"};\nvar hdmi4={ payload: \"false\"};\nvar vga={ payload: \"false\"};\nvar av1={ payload: \"false\"};\nvar av2={ payload: \"false\"};\nvar component1={ payload: \"false\"};\nvar component2={ payload: \"false\"};\nvar dtv_ant={ payload: \"false\"};\n\nif (msg.payload === \"hdmi1\") {\n    hdmi1.payload =\"true\"; \n}\nif (msg.payload === \"hdmi2\") {\n    hdmi2.payload =\"true\"; \n}\nif (msg.payload === \"hdmi3\") {\n    hdmi3.payload =\"true\"; \n}\nif (msg.payload === \"hdmi4\") {\n    hdmi4.payload =\"true\"; \n}\nif (msg.payload === \"vga\") {\n    vga.payload =\"true\"; \n}\nif (msg.payload === \"av1\") {\n    av1.payload =\"true\"; \n}\nif (msg.payload === \"av2\") {\n    av2.payload =\"true\"; \n}\nif (msg.payload === \"component1\") {\n    component1.payload =\"true\"; \n}\nif (msg.payload === \"component2\") {\n    component2.payload =\"true\"; \n}\nif (msg.payload === \"dtv_ant\") {\n    dtv_ant.payload =\"true\"; \n}\n\nreturn [hdmi1,hdmi2,hdmi3,hdmi4,vga,av1,av2,component1,component2,dtv_ant];",
        "outputs": 10,
        "noerr": 0,
        "x": 1730,
        "y": 380,
        "wires": [
            [
                "730cf58e.1cf7ec"
            ],
            [
                "8ee3b810.8e84e8"
            ],
            [
                "fe15ec25.7b1fa"
            ],
            [
                "575ecb87.fdc28c"
            ],
            [
                "82c9bf02.81ac38"
            ],
            [
                "4a8edc1a.9c5b7c"
            ],
            [
                "95965a91.7c68c"
            ],
            [
                "4bdb1ed2.3e2c8"
            ],
            [
                "4c9f3299.3490b4"
            ],
            [
                "28e6a6b2.05dcea"
            ]
        ]
    },
    {
        "id": "8ee3b810.8e84e8",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/hdmi2",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1980,
        "y": 360,
        "wires": []
    },
    {
        "id": "fe15ec25.7b1fa",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/hdmi3",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1980,
        "y": 400,
        "wires": []
    },
    {
        "id": "575ecb87.fdc28c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/hdmi4",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1980,
        "y": 440,
        "wires": []
    },
    {
        "id": "62244f73.f4af8",
        "type": "mqtt in",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/command/vol",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8b5f45d4.47335",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "1035e2b5.a0497d"
            ]
        ]
    },
    {
        "id": "40da33c8.22c284",
        "type": "range",
        "z": "98944d80.ad7f6",
        "minin": "0",
        "maxin": "100",
        "minout": "00",
        "maxout": "64",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "TV vol",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "18d3a285.454295"
            ]
        ]
    },
    {
        "id": "36e71dc2.5b5c52",
        "type": "inject",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "volume status",
        "payload": "status",
        "payloadType": "str",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": "0.3",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "1035e2b5.a0497d",
                "959bcf22.d6e34"
            ]
        ]
    },
    {
        "id": "18d3a285.454295",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "volume control",
        "func": "msg.payload = \"kf 01 \" + msg.payload ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "99b9043d.7c2e88"
            ]
        ]
    },
    {
        "id": "bbc96760.9cc19",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "tv volume",
        "func": "var vol={ payload: \"00\"};\nvol.payload=msg.payload.substr(7,2);\n\nreturn vol;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "f549e974.a146"
            ]
        ]
    },
    {
        "id": "f549e974.a146",
        "type": "range",
        "z": "98944d80.ad7f6",
        "minin": "0",
        "maxin": "64",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "volume",
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "b8ac5026.43c968"
            ]
        ]
    },
    {
        "id": "b8ac5026.43c968",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/vol",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1390,
        "y": 400,
        "wires": []
    },
    {
        "id": "82c9bf02.81ac38",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/vga",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1970,
        "y": 480,
        "wires": []
    },
    {
        "id": "4c9f3299.3490b4",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/component2",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 2000,
        "y": 640,
        "wires": []
    },
    {
        "id": "4bdb1ed2.3e2c8",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/component1",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 2000,
        "y": 600,
        "wires": []
    },
    {
        "id": "4a8edc1a.9c5b7c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/av1",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1970,
        "y": 520,
        "wires": []
    },
    {
        "id": "95965a91.7c68c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/av2",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1970,
        "y": 560,
        "wires": []
    },
    {
        "id": "28e6a6b2.05dcea",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/input/DTV_ant",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1980,
        "y": 680,
        "wires": []
    },
    {
        "id": "3a9d87e5.bada18",
        "type": "mqtt in",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/command/mute",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8b5f45d4.47335",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "959bcf22.d6e34"
            ]
        ]
    },
    {
        "id": "959bcf22.d6e34",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "TV Mute",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "ke 01 01",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "ke 01 00",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "status",
                "fromt": "str",
                "to": "ke 01 ff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "99b9043d.7c2e88"
            ]
        ]
    },
    {
        "id": "1035e2b5.a0497d",
        "type": "switch",
        "z": "98944d80.ad7f6",
        "name": "volume switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "4798494e.6b86"
            ],
            [
                "40da33c8.22c284"
            ]
        ]
    },
    {
        "id": "4798494e.6b86",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "volume status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "status",
                "fromt": "str",
                "to": "kf 01 ff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "99b9043d.7c2e88"
            ]
        ]
    },
    {
        "id": "28b21739.fc046",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "tv mute status",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e 01 OK00x",
                "fromt": "str",
                "to": "true",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "e 01 OK01x",
                "fromt": "str",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "717056a3.c3c0c",
                "ac748223.c3641"
            ]
        ]
    },
    {
        "id": "717056a3.c3c0c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/mute",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1390,
        "y": 460,
        "wires": []
    },
    {
        "id": "878c8788.453b2",
        "type": "mqtt in",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/command/aspectRatio",
        "qos": "2",
        "datatype": "utf8",
        "broker": "8b5f45d4.47335",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "22d665d2.a380b2",
                "1810f629.8abe6a"
            ]
        ]
    },
    {
        "id": "f02ad17.144a43",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "4:3",
                "fromt": "str",
                "to": "kc 01 01",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "16:9",
                "fromt": "str",
                "to": "kc 01 02",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "auto",
                "fromt": "str",
                "to": "kc 01 06",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "justscan",
                "fromt": "str",
                "to": "kc 01 09",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 1",
                "fromt": "str",
                "to": "kc 01 10",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 2",
                "fromt": "str",
                "to": "kc 01 11",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 3",
                "fromt": "str",
                "to": "kc 01 12",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 4",
                "fromt": "str",
                "to": "kc 01 13",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 5",
                "fromt": "str",
                "to": "kc 01 14",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 6",
                "fromt": "str",
                "to": "kc 01 15",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 7",
                "fromt": "str",
                "to": "kc 01 16",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 8",
                "fromt": "str",
                "to": "kc 01 17",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 9",
                "fromt": "str",
                "to": "kc 01 18",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 10",
                "fromt": "str",
                "to": "kc 01 19",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 11",
                "fromt": "str",
                "to": "kc 01 1A",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 12",
                "fromt": "str",
                "to": "kc 01 1B",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 13",
                "fromt": "str",
                "to": "kc 01 1C",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 14",
                "fromt": "str",
                "to": "kc 01 1D",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 15",
                "fromt": "str",
                "to": "kc 01 1E",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "cinema zoom 16",
                "fromt": "str",
                "to": "kc 01 1F",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "99b9043d.7c2e88"
            ]
        ]
    },
    {
        "id": "22d665d2.a380b2",
        "type": "switch",
        "z": "98944d80.ad7f6",
        "name": "aspect Ratio switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "a21ff6d2.2f3cb"
            ],
            [
                "f02ad17.144a43"
            ]
        ]
    },
    {
        "id": "a21ff6d2.2f3cb",
        "type": "change",
        "z": "98944d80.ad7f6",
        "name": "aspect ratio status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kc 01 FF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "99b9043d.7c2e88"
            ]
        ]
    },
    {
        "id": "cf0cffe2.dd6fe",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/raw",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "a19f4b08.066d7",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/169",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1230,
        "y": 580,
        "wires": []
    },
    {
        "id": "7a18b550.1fc3fc",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "aspect Ratio select",
        "func": "\n\nvar aspectRatio={ payload: \"00\"};\n\nvar ar169={ payload: \"false\"};\nvar ar43={ payload:  \"false\"};\nvar zoom={ payload:  \"false\"};\nvar auto={ payload:  \"false\"};\nvar justscan={ payload:  \"false\"};\nvar CinemaZoom1={ payload:  \"false\"};\nvar CinemaZoom2={ payload:  \"false\"};\nvar CinemaZoom3={ payload:  \"false\"};\nvar CinemaZoom4={ payload:  \"false\"};\nvar CinemaZoom5={ payload:  \"false\"};\nvar CinemaZoom6={ payload:  \"false\"};\nvar CinemaZoom7={ payload:  \"false\"};\nvar CinemaZoom8={ payload:  \"false\"};\nvar CinemaZoom9={ payload:  \"false\"};\nvar CinemaZoom10={ payload:  \"false\"};\nvar CinemaZoom11={ payload:  \"false\"};\nvar CinemaZoom12={ payload:  \"false\"};\nvar CinemaZoom13={ payload:  \"false\"};\nvar CinemaZoom14={ payload:  \"false\"};\nvar CinemaZoom15={ payload:  \"false\"};\nvar CinemaZoom16={ payload:  \"false\"};\n\n\naspectRatio.payload = msg.payload.substr(7,2);\n\nswitch(aspectRatio.payload) {\n  \n\n  case \"01\":\n    ar43.payload = \"true\";\n    break;\n  case \"02\":\n    ar169.payload = \"true\";\n    break;\n  case \"04\":\n    zoom.payload = \"true\";\n    break;\n  case \"06\":\n    auto.payload = \"true\";\n    break;\n  case \"10\":\n     CinemaZoom1.payload = \"true\";\n    break;\n  case \"11\":\n     CinemaZoom2.payload = \"true\";\n    break;\n  case \"13\":\n     CinemaZoom3.payload = \"true\";\n    break;\n  case \"14\":\n     CinemaZoom4.payload = \"true\";\n    break;\n  case \"15\":\n     CinemaZoom5.payload = \"true\";\n    break;\n  case \"16\":\n     CinemaZoom6.payload = \"true\";\n    break;\n  case \"17\":\n     CinemaZoom7.payload = \"true\";\n    break;\n  case \"18\":\n     CinemaZoom9.payload = \"true\";\n    break;\n  case \"19\":\n     CinemaZoom10.payload = \"true\";\n    break;\n  case \"1a\":\n     CinemaZoom11.payload = \"true\";\n    break;\n  case \"1b\":\n     CinemaZoom12.payload = \"true\";\n    break;\n  case \"1c\":\n     CinemaZoom13.payload = \"true\";\n    break;\n  case \"1d\":\n     CinemaZoom14.payload = \"true\";\n    break;\n  case \"1e\":\n     CinemaZoom15.payload = \"true\";\n    break;\n  case \"1f\":\n     CinemaZoom16.payload = \"true\";\n    break;\n}\n\nreturn [ar43,ar169,zoom,auto,justscan,CinemaZoom1,CinemaZoom2,CinemaZoom3,CinemaZoom4,CinemaZoom5,CinemaZoom6,CinemaZoom7,CinemaZoom8,CinemaZoom9,CinemaZoom10,CinemaZoom11,CinemaZoom12,CinemaZoom13,CinemaZoom14,CinemaZoom15,CinemaZoom16];",
        "outputs": 21,
        "noerr": 0,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "254475ff.d35692"
            ],
            [
                "a19f4b08.066d7"
            ],
            [
                "f8e552b2.ee325"
            ],
            [
                "e7bcc672.c7a5e8"
            ],
            [
                "a9869fd3.bbd3f8"
            ],
            [
                "1f924023.16d5c"
            ],
            [
                "f889bdb9.260dc8"
            ],
            [
                "ba5bf649.21c3c"
            ],
            [
                "97292953.714438"
            ],
            [
                "de2e5000.64ad18"
            ],
            [
                "b9be189e.ce007"
            ],
            [
                "678f2dfa.9de414"
            ],
            [
                "345ce658.73a712"
            ],
            [
                "ccab9921.ca0d18"
            ],
            [
                "6656b7b.a0d7248"
            ],
            [
                "6e2729f5.741798"
            ],
            [
                "68089892.d16c6"
            ],
            [
                "1f2a328c.d7bbc5"
            ],
            [
                "4353db67.a84bdc"
            ],
            [
                "c69a76bc.5d642"
            ],
            [
                "4f655c83.9d87ac"
            ]
        ]
    },
    {
        "id": "254475ff.d35692",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/43",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1230,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f924023.16d5c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom1",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "f8e552b2.ee325",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/zoom",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "e7bcc672.c7a5e8",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/auto",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1230,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9869fd3.bbd3f8",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/justscan",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1240,
        "y": 700,
        "wires": []
    },
    {
        "id": "f889bdb9.260dc8",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom2",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 780,
        "wires": []
    },
    {
        "id": "b9be189e.ce007",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom6",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 940,
        "wires": []
    },
    {
        "id": "de2e5000.64ad18",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom5",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 900,
        "wires": []
    },
    {
        "id": "97292953.714438",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom4",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 860,
        "wires": []
    },
    {
        "id": "ba5bf649.21c3c",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom3",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 820,
        "wires": []
    },
    {
        "id": "678f2dfa.9de414",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom7",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 980,
        "wires": []
    },
    {
        "id": "345ce658.73a712",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom8",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ccab9921.ca0d18",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom9",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1260,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6656b7b.a0d7248",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom10",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c69a76bc.5d642",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom15",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4353db67.a84bdc",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom14",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1260,
        "wires": []
    },
    {
        "id": "1f2a328c.d7bbc5",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom13",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1220,
        "wires": []
    },
    {
        "id": "68089892.d16c6",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom12",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1180,
        "wires": []
    },
    {
        "id": "6e2729f5.741798",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom11",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4f655c83.9d87ac",
        "type": "mqtt out",
        "z": "98944d80.ad7f6",
        "name": "",
        "topic": "/tv/livingroom/status/aspectRatio/CinemaZoom16",
        "qos": "2",
        "retain": "true",
        "broker": "8b5f45d4.47335",
        "x": 1270,
        "y": 1340,
        "wires": []
    },
    {
        "id": "31b7dafb.f9fc26",
        "type": "comment",
        "z": "98944d80.ad7f6",
        "name": "volume state",
        "info": "volume is displayed on status pull.\nso we only pull volume on when something changes",
        "x": 110,
        "y": 740,
        "wires": []
    },
    {
        "id": "e7c0baef.ed2f3",
        "type": "debug",
        "z": "98944d80.ad7f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "1810f629.8abe6a",
        "type": "function",
        "z": "98944d80.ad7f6",
        "name": "pull volume status",
        "func": "// this could be done with just nodes,but the wires \n// become a mess\nvar status={ payload: \"00\"};\nvar mute={ payload: \"\"};\nvar vol={payload: \"\"};\n\nstatus.payload = msg.payload.substr(6,2);\n\nif(status.payload != \"ff\")\n{ \n    mute.payload=\"ke 01 ff\";\n    vol.payload=\"kf 01 ff\";\n}\nelse\n{\n    mute.payload=\"\";\n    vol.payload=\"\";\n    \n} \n\nreturn [vol,mute];",
        "outputs": 2,
        "noerr": 0,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "d1dbcf13.02c918"
            ],
            [
                "d1dbcf13.02c918"
            ]
        ]
    },
    {
        "id": "ac748223.c3641",
        "type": "debug",
        "z": "98944d80.ad7f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "14ef3275.b2dd06",
        "type": "switch",
        "z": "98944d80.ad7f6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "99b9043d.7c2e88",
                "ac748223.c3641"
            ]
        ]
    },
    {
        "id": "d1dbcf13.02c918",
        "type": "delay",
        "z": "98944d80.ad7f6",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "14ef3275.b2dd06"
            ]
        ]
    },
    {
        "id": "cadda10d.b4b95",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "8b5f45d4.47335",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.20.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "2",
        "closePayload": "",
        "willTopic": "",
        "willQos": "2",
        "willPayload": ""
    }
]
